<center><font size=6 color="#00416d">DataFrame-1</font></center>

Data Frame is a two dimentional array. So data is aligned in a tabular fashion in rows and columns.

In [ ]:
%matplotlib inline
import pandas as pd

In [ ]:
# Creating DataFrame from list
data_frame = pd.DataFrame([1, 2, 3, 4], columns=['Numbers'])
print(data_frame)
print(type(data_frame))

In [ ]:
# Creating from dictionary
data_frame = pd.DataFrame({'name':'Madhu', 'age':25}, index=['person-1'])
data_frame

In [ ]:
# Creating data frame
# NaN value makes integer as float
data_frame = pd.read_csv("nba.csv")
data_frame

### Shared Methods and Attributes between Series and Data Frame

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head(5)

In [ ]:
nba.tail(n=3)

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
nba.dtypes

In [ ]:
nba.dtypes.value_counts().plot(kind='bar')

In [ ]:
nba.columns

In [ ]:
nba.axes

In [ ]:
nba.info()

### Difference between shared methods of Series and Dataframe

<strong>axis=0</strong>: Represents rows <br>
<strong>axis=1</strong>: Represents the columns

In [ ]:
# Reading data from csv and making Date as index
rev = pd.read_csv("revenue.csv", index_col="Date")
rev.head()

In [ ]:
# First we see how a common method sum works on Series object
x = pd.Series([1, 2, 3])
x.sum()

In [ ]:
# We will see how it works on DataFrame
# sum was calculated column wise
rev.sum()
# Below 2 methods returns the same result
# rev.sum(axis=0)
# rev.sum(axis="index")

In [ ]:
# if you want row wise sum the
# rev.sum(axis=1)
rev.sum(axis="columns")

In [ ]:
# You can notice when I use same method on series object throws an error.
# x.sum(axis="columns")

### Accessing single column from Data Frame

Accessing single column returns a Series Object

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
# Below method wouldn't work if attribut has space
nba.Number

# To hide output in the cell
Output = False

In [ ]:
type(nba.Number)

In [ ]:
# Other way is,
nba["Number"]

### Extracting multiple columns from Data Frame

When you extract multiple columns then type would be a Data Frame

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(5)

In [ ]:
# Extracting multiple columns
x = nba[["Name", "Number", "Team"]]
x

In [ ]:
# Nice way to it is
x = ["Name", "Number", "Team"]
nba[x]

### Adding new column to the Data Frame

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(4)

In [ ]:
# This will add the column always at the end
nba['tax_10%'] = nba["Salary"] * (0.10)

In [ ]:
nba.head(5)

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
# Inserting column wherever we want
nba.insert(3, column = "gender", value="Male")

In [ ]:
nba.head(3)

### value_counts() method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(10)

In [ ]:
nba["College"].value_counts().head(5)

In [ ]:
# We are performing it series object here
nba["Weight"].value_counts()

In [ ]:
df = pd.DataFrame({'names':["madhu", "Ravi", "madhu"], 'age':[22, 23, 24], "Sex": ["Male", "Female", "Female"]})
df

In [ ]:
# On data frame it looks like it is counting duplicate values
df.value_counts()

### To drop columns and row with null shows

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.tail()

In [ ]:
# To drop all NaN value rows, it will remove a row even a for single NaN value
nba.dropna()

In [ ]:
# To drop rows if and only if all values NaN
nba.dropna(how="all")

In [ ]:
# To drop all columns with NaN
nba.dropna(axis=1)

In [ ]:
# To drop rows based perticular column of the table then
nba.dropna(subset=["Salary"])

In [ ]:
nba.dropna(subset=["Salary", "College"])

### Fill NaN values with fillna method

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(5)

In [ ]:
# We can fill all NaN values by simply calling fillna method
nba.fillna(0)

In [ ]:
# But it's not good way to handle to NaN values with single fill value.
# It better to extract perticular column and fill the NaN values
nba["Salary"].fillna(0, inplace=True)

In [ ]:
nba

In [ ]:
nba["College"].fillna("Other", inplace=True)

In [ ]:
nba

### astype() Method

<b>Documentation:</b><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.astype.html">astype()</a> <br>
<b>Definition</b>:Cast a pandas object to a specified dtype dtype.

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how="all")
nba.dropna(subset=["College", "Salary"], inplace=True)
nba.head()

In [ ]:
nba.info()

In [ ]:
# Converting data types
nba["Salary"] = nba["Salary"].astype("int")
nba["Weight"] = nba["Weight"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba["Number"] = nba["Number"].astype("int")
nba.head()

In [ ]:
nba.info()

In [ ]:
nba["Name"] = nba["Name"].astype("category")
nba["Team"] = nba["Team"].astype("category")
nba["Position"] = nba["Position"].astype("category")
nba.info()

In [ ]:
nba["Height"] = nba["Height"].astype("category")
nba["College"] = nba["College"].astype("category")

In [ ]:
nba.info()

In [ ]:
# Performing astype operation on multiple on columns on a data frame
nba = pd.read_csv("nba.csv", usecols=["Name", "Team", "Age", "Weight"]).dropna(how="all")
nba.info()

In [ ]:
nba = nba.astype({"Name": "category", "Team": "category", "Age": int})
nba.info()

### sort_values() method

<b>Documentation:</b><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html">sort values</a><br> <br>
<b>Syntax:</b><br>
<code>DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)</code> <br><br>
<b>Description:</b>
<p>Sort by the values along either axis.</p>

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head(3)

In [ ]:
# sorting values using name column
nba.sort_values(by=["Name"]).head(5)

In [ ]:
# Sorting values using Salary column in decending order
nba.sort_values("Salary", ascending=False).head()

In [ ]:
# By default, all NaN values will at the end
nba.sort_values(by=["Salary"], ascending=False).tail()

In [ ]:
# To see nan values on the top, you can 'na_position' argument value from 'last' to 'first'
nba.sort_values(by=["Salary"], ascending=False, na_position='first').head()

In [ ]:
# Sorting using mulitple columns
# Here it is sorting Team first in accending order
# and then it is sorting Name in accending order
nba.sort_values(by=["Team", "Name"])

In [ ]:
# We can also ascend values invidually
nba.sort_values(by=["Team", "Name"], ascending=[True, False])

### sort_index() method

<b>Documentation</b>: <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_index.html">sort_index()</a><br>
<b>Description</b>: Sort object by labels (along an axis). <br>
<b>Syntax</b>:<br>
<code>DataFrame.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False, key=None)
</code>

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.sort_values(by=["Salary", "Team", "Name"], inplace=True)
nba

In [ ]:
nba.sort_index()

### rank() method

In [ ]:
df = pd.DataFrame({'names':['madhu', 'kiran', 'ravi', 'max'], 'scores':[200, 140, 160, 123]})
df

In [ ]:
# If ascending is True then large value have last rank
df['ranks'] = df['scores'].rank()
df

In [ ]:
# If ascending is False then large value have first rank
df['ranks'] = df['scores'].rank(ascending=False)
df

In [ ]:
df.sort_values(by=['scores'], ascending=False, inplace=True)
df