<center><font size=6 color="#00416d">DataFrame-3</font></center>

This chapter also mostly covers how to extract data from DataFrame

In [ ]:
import pandas as pd

 ### .set_index() and .reset_index() methods

In [ ]:
df = pd.read_csv("jamesbond.csv")
df.head()

In [ ]:
# To set a new index
# which equal to
# pd.read_csv("jamesbond.csv", index_cols="Film")
df.set_index(keys="Film", inplace=True)

In [ ]:
df.head()

In [ ]:
# To go back to the previous index
df.reset_index().head()

In [ ]:
# To go back to the previous index and to drop recently set index
df.reset_index(drop=True).head()

In [ ]:
# If set drop is False then it wouldn't delete the column
df.set_index("Year", drop=False)

### Accessing rows by using .loc() method

<p><b>Usage</b>:Access a group of rows and columns by label(s) or a boolean array.</p>
<p><b>Documentation</b>:<a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html">df.loc()</a></p>

In [ ]:
df = pd.read_csv("jamesbond.csv", index_col=["Film"])
df.sort_index(inplace=True)
df

In [ ]:
# Accessing single row data and returns a Series object
df.loc["A View to a Kill"]

In [ ]:
# Accessing multiple rows and returns a DataFrame object
# NOTE: If we have duplicate index's, then all of them fetched
df.loc[["Casino Royale", "Diamonds Are Forever"]]

In [ ]:
# Fetching column data of certain rows
df.loc["Casino Royale":"Goldfinger", "Actor"]

In [ ]:
# loc also supports the slicing, unlike python here both slicing values are inclusive
df.loc["Casino Royale":"Goldfinger":2]

In [ ]:
# It wouldn't support numerical index value if you index is String
df.loc[0]

### Accessing rows by using .iloc() method
<p><b>Usage</b>:Purely integer-location based indexing for selection by position.</p>
<p><b>Documentation</b>:<a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html#pandas.DataFrame.iloc">df.iloc()</a></p>

In [ ]:
movies = pd.read_csv("jamesbond.csv")
movies.iloc[10]

In [ ]:
movies.iloc[1:10:2]

In [ ]:
# Fetching specific rows
movies.iloc[[1, 10, 2, 4]]

In [ ]:
movies.set_index("Film", inplace=True)

In [ ]:
movies.sort_index(inplace=True)
movies.head()

In [ ]:
# TypeError: Cannot index by location index with a non-integer key
# movies.iloc["A View to a Kill"]

In [ ]:
# But still we can use integer index
movies.iloc[1]

In [ ]:
movies.iloc[1: 4]

### Passing Second argument to loc() and iloc()

Second column is about which column we wanted to access

In [ ]:
bond = pd.read_csv("jamesbond.csv", index_col="Film")
bond.sort_index(inplace=True)
bond.head()

In [ ]:
bond.loc["A View to a Kill", ["Actor", "Director"]]

In [ ]:
bond.loc["A View to a Kill": "Die Another Day", ["Actor", "Director"]]

In [ ]:
bond.loc["A View to a Kill": "Die Another Day", "Director":]

In [ ]:
# We can perform all the activities that we had performed loc the only difference here we need to pass numerical value
bond.iloc[1, [0, 1]]

In [ ]:
bond.iloc[[2, 10], 0:3]

In [ ]:
bond.iloc[[2, 10], 0:3] = [2020, "Madhu", "Raja Mouli"]
bond.head()

### Assinging new value to a cell

In [ ]:
df = pd.read_csv("jamesbond.csv", index_col="Film")
df.head()

In [ ]:
df.loc["From Russia with Love", "Actor"] = "Mr.Sean Connery"

In [ ]:
df.head(3)

In [ ]:
df.loc["From Russia with Love", ["Box Office", "Budget","Bond Actor Salary"]]=0

In [ ]:
df.head(2)

In [ ]:
df.loc["From Russia with Love", ["Box Office", "Budget","Bond Actor Salary"]]=[20, 30, 40]

In [ ]:
df.head(3)

In [ ]:
# We can also check some conditions
df.loc[df["Actor"] == "Roger Moore", "Actor"] = "Madhu"

In [ ]:
df

### Renaming row and column labels

In [ ]:
movies = pd.read_csv("jamesbond.csv", index_col="Film")
movies.head()

In [ ]:
# To rename the row label
movies.rename(mapper={"Dr. No":"Dr No", "From Russia with Love": "Love the Way"})
# We get the same result by doing it below ways
# movies.rename(mapper={"Dr. No":"Dr No", "From Russia with Love": "Love the Way"}, axis=0)
# movies.rename(mapper={"Dr. No":"Dr No", "From Russia with Love": "Love the Way"}, axis="rows")
# movies.rename(mapper={"Dr. No":"Dr No", "From Russia with Love": "Love the Way"}, axis="index")

In [ ]:
# To rename the rows
# movies.rename(mapper={"Year":"Release Year", "Box Office": "Grass"}, axis=1)
# Even it works if you like below
movies.rename(mapper={"Year":"Release Year", "Box Office": "Grass"}, axis="columns")

In [ ]:
# Anthor way to renam the columns
movies.columns = ['A', 'B', 'Director', 'Box Office', 'Budget', 'F']

In [ ]:
movies.tail(3)

### Deleting rows and columns

In [ ]:
movies = pd.read_csv("jamesbond.csv", index_col = "Film")
movies.sort_index(inplace=True)
movies.head()

In [ ]:
# drop method
# By default it looks for label in the index/row
# If label repeated, then also those values also will be deleted
movies.drop("Casino Royale")

In [ ]:
# To drop multiple rows
movies.drop(["Die Another Day", "Diamonds Are Forever"])

In [ ]:
# To drop columns, we need to pass index
movies.drop(labels="Budget", axis=1)
# To remove multiple columns
movies.drop(labels=["Budget", "Actor"], axis=1)

In [ ]:
# Label of column to be popped, it will return remove items in the form of Series
budget = movies.pop("Budget")
budget

In [ ]:
# We can directly use del method
del movies["Year"]

In [ ]:
movies.head()

### The df.sample() method
It will return some sample data from dataframe

In [ ]:
movies = pd.read_csv("jamesbond.csv")
movies

In [ ]:
# By default it will return one row
movies.sample()

In [ ]:
# We can also pass number of rows
movies.sample(n=3)

In [ ]:
# We can als pass percentage
movies.sample(frac=.40)

In [ ]:
# We can also pass axis
movies.sample(n=3, axis="columns")

### The .nlargest() and .nsmallest() methods

In [ ]:
df = pd.read_csv("jamesbond.csv")
df.head()

In [ ]:
# To get largest 3 values we have something like below
df.sort_values("Box Office", ascending = False).head(3)

In [ ]:
# We can do the same thing by doing like below
df.nlargest(3, columns= "Box Office")

In [ ]:
# Similarly, we can also fetch last 3 rows
df.nsmallest(3, columns="Box Office")

In [ ]:
# We can also perform the same on Series. Here we no need to provide columns parameter
df["Box Office"].nlargest(4)
df["Box Office"].nsmallest(4)

### .where() method

.where() method is used to filter the data, There .where() return a new DataFrame by replacing all non matched row with NaN

In [ ]:
bond = pd.read_csv("Jamesbond.csv")
bond.head(3)

In [ ]:
# We usually do flitering like below
condition = bond["Director"] == "Terence Young"
bond[condition]

In [ ]:
# We can do same with .where() method
# We can try all filtering option in where method like .where(condition1 & conditon2) etc..,
bond.where(condition)

### .query() method

In [ ]:
df = pd.read_csv("jamesbond.csv")
df.head()

In [ ]:
df.query("Year > 2010")

In [ ]:
# It wouldn't work if column has spaces
# df.query("Bond Actor Salary > 0.3")

In [ ]:
# So, we replace all spaces with _
df.columns = [x.replace(" ", "_") for x in df.columns]

In [ ]:
df.query("Bond_Actor_Salary > 9")

In [ ]:
df.query("Actor == 'Sean Connery' and Director == 'Terence Young'")

In [ ]:
df.query("Actor in ['Pierce Brosnan', 'Daniel Craig']")

### .apply() method

In [ ]:
movies = pd.read_csv("jamesbond.csv")
movies.head()

In [ ]:
# We will decide budget
# if it n < 20 --> low, if n <= 40 --> Medium, if n>40  --> hig
def budget_str(number):
    if number < 20:
        return "Low"
    elif number <= 40:
        return "Medium"
    elif number > 40:
        return "High"
    else:
        return "Nan"

In [ ]:
movies["Budget"] = movies["Budget"].apply(budget_str)
movies

### We use .apply() method row wise

In [ ]:
df = pd.read_csv("jamesbond.csv")
df.set_index("Film", inplace=True)
df.info()

In [ ]:
# Now we apply these row wise
def rank(row):
    actor = row[1]
    box_office = row[3]
    if actor == "Sean Connery" and box_office > 500:
        return "Amazing"
    elif 300 <= box_office:
        return "Good"
    else:
        return "Flop"

In [ ]:
df['rank'] = df.apply(rank, axis=1)

In [ ]:
df

### copy() method

In [ ]:
movies = pd.read_csv("jamesbond.csv")
movies.head()

In [ ]:
# Just like python, it will modify main object also if you use asignment operator
director = movies["Director"]
director[1] = "Madhu"
movies

In [ ]:
# To avoid these we can use copy() method
year = movies["year"].copy()

### Synopsis

<table style="margin-left: 0;">
  <tr style="text-align:center;">
    <th>Implementation</th>
    <th>Description</th>
  </tr>
  <tr>
      <td>DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)</td>
      <td>It will set a column as an index</td>
  </tr>
  <tr>
      <td>DataFrame.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')</td>
      <td>It will reset the index</td>
  </tr>
  <tr>
      <td>DataFrame.loc['label']</td>
      <td>Access a group of rows and columns by label(s) or a boolean array, if you do a little hardwork we can also assign values</td>
  </tr>
  <tr>
      <td>DataFrame.iloc['label']</td>
      <td>Purely integer-location based indexing for selection by position</td>
  </tr>
  <tr>
      <td>DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')</td>
      <td>To rename column and rows labels</td>
  </tr>
  <tr>
      <td>DataFrame.rename(mapper=None, index=None, columns=None, axis=None, copy=True, inplace=False, level=None, errors='ignore')</td>
      <td>To rename column and rows labels</td>
  </tr>
  <tr>
      <td>DataFrame.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')</td>
      <td>To drop column and rows labels</td>
  </tr>
  <tr>
      <td>DataFrame.sample(n=None, frac=None, replace=False, weights=None, random_state=None, axis=None, ignore_index=False)</td>
      <td>To fetch sample data from rows and columns</td>
  </tr>
  <tr>
      <td>DataFrame.nlargest() <br> DataFrame.nsmallest()</td>
      <td>To fetch n largest and n smallest rows respectively</td>
  </tr>
  <tr>
      <td>DataFrame.where()</td>
      <td>.where() method is used to filter the data, There .where() return a new DataFrame by replacing all non matched row with NaN</td>
  </tr>
  <tr>
      <td>DataFrame.query()</td>
      <td>It takes query in the form of string to fetch data from DataFrame</td>
  </tr>
  <tr>
      <td>DataFrame.apply()</td>
      <td>To apply some kind of functionality on rows and columns, we can also use it on Series object</td>
  </tr>
  <tr>
      <td>DataFrame.copy()</td>
      <td>Similar to python copy() method</td>
  </tr>
</table>