<center><font size=6 color="#00416d">DataFrame-3</font></center>

This chapter also mostly covers how to extract data from DataFrame

In [4]:
import pandas as pd

 ### .set_index() and .reset_index() methods

In [29]:
df = pd.read_csv("jamesbond.csv")
df.head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [30]:
# To set a new index
# which equal to
# pd.read_csv("jamesbond.csv", index_cols="Film")
df.set_index(keys="Film", inplace=True)

In [32]:
df.head()

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [38]:
# To go back to the previous index
df.reset_index().head()

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN

In [37]:
# To go back to the previous index and to drop recently set index
df.reset_index(drop=True).head()

   Year         Actor       Director  Box Office  Budget  Bond Actor Salary
0  1962  Sean Connery  Terence Young       448.8     7.0                0.6
1  1963  Sean Connery  Terence Young       543.8    12.6                1.6
2  1964  Sean Connery   Guy Hamilton       820.4    18.6                3.2
3  1965  Sean Connery  Terence Young       848.1    41.9                4.7
4  1967   David Niven     Ken Hughes       315.0    85.0                NaN

In [42]:
# If set drop is False then it wouldn't delete the column
df.set_index("Year", drop=False)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,,
1962,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1963,1963,Sean Connery,Terence Young,543.8,12.6,1.6
1964,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,1965,Sean Connery,Terence Young,848.1,41.9,4.7
1967,1967,David Niven,Ken Hughes,315.0,85.0,NaN
1967,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,1981,Roger Moore,John Glen,449.4,60.2,NaN
1983,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,1983,Roger Moore,John Glen,373.8,53.9,7.8
1985,1985,Roger Moore,John Glen,275.2,54.5,9.1
1987,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN