<center><font size=6 color="#00416d">Pandas Datetime</font></center>

In [ ]:
import pandas as pd
# importing python default module
import datetime as dt
from pandas_datareader import data

### Exploring Python datetime module

In [ ]:
# date method from datetime module
date = dt.date(1996, 5, 13)

In [ ]:
str(date)

In [ ]:
date.year, date.month, date.day

In [ ]:
# datetime method from datetime module
datetime = dt.datetime(year=1996,
                       month=5,
                       day=13,
                       hour=14,
                       minute=42,
                       second=23)

In [ ]:
str(datetime)

### Pandas Timestamp

Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases. It’s the type used for the entries that make up a DatetimeIndex, and other timeseries oriented data structures in pandas

<strong>Documentation:</strong><br>
<a style="text-decoration:none" href="https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html">pandas.Timestamp</a>

In [ ]:
# We can pass date in different formats to the Timestamp class
pd.Timestamp("2022-03-30")
pd.Timestamp("2022/3/30")
pd.Timestamp("2022, 3, 30")
pd.Timestamp("03-30-22")
pd.Timestamp("30-3-22")
pd.Timestamp("2022, 3, 30")
pd.Timestamp("2022, 3, 30 12:15:02 PM")
# output: Timestamp('2022-03-30 15:15:02')
pd.Timestamp("2022, 3, 30 3:15:02 PM")
pd.Timestamp(dt.date(2022,3,30))
pd.Timestamp(2022, 3, 30)
pd.Timestamp(1513393355.5, unit='s')
pd.Timestamp(1513393355, unit='s', tz='US/Pacific')

In [ ]:
# ValueError: could not convert string to Timestamp
# pd.Timestamp("2022-30-03")

### Pandas DatetimeIndex

To convert array/list of dates into Timestamp

In [ ]:
dates = pd.DatetimeIndex(["2022-03-01 15:24:13", "2022-03-02", "2022-03-03",
                          2016, "16th july 2022", "16th july 2022"], # array-like (1-dimensional), optional
                        )
dates

In [ ]:
dates[0]

In [ ]:
# TypeError: DatetimeIndex(...) must be called with a collection of some kind, 2016 was passed
pd.DatetimeIndex(2016)

### pandas.to_datetime

Convert argument to datetime.

This function converts a scalar, array-like, Series or DataFrame/dict-like to a pandas datetime object.

<strong>Documentation:</strong><br>
<a style="text-decoration:none" href="https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas.to_datetime">pandas.to_datetime</a>

In [ ]:
pd.to_datetime("2016,22,1")
pd.to_datetime(["2016", "13/05/1996"])

In [ ]:
pd.to_datetime(pd.Series(["2016", "13/05/1996", 2016]))

In [ ]:
pd.to_datetime(pd.Series(["2016", "13/05/1996", 2016, "skds", "442211"]),
               errors="coerce", # To avoid errors
              )

### pandas.date_range()

Return a fixed frequency DatetimeIndex.

<strong>Documentation:</strong><br>
<a style="text-decoration:none" href="https://pandas.pydata.org/docs/reference/api/pandas.date_range.html">pandas.date_range</a> <br>

To see the list of values to pass <b>freq</b> parameter: <br>
<a style="text-decoration:none" href="https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases"> DateOffsets</a> <br>

In [ ]:
pd.date_range(start="2022-01-01", end="2022-01-10")

In [ ]:
pd.date_range(start="2022-01-01", end="2022-01-10", freq="2D")

In [ ]:
# To get only business days
pd.date_range(start="2022-04-01", end="2022-04-10", freq="B")

In [ ]:
# To print week of sundays
pd.date_range(start="2022-04-01", end="2022-04-30", freq="W")

In [ ]:
pd.date_range(start="2022-04-01", end="2022-04-30", freq="W-Mon")

### period parameter in pandas.date_range()
To generate set of Timestamps

In [ ]:
pd.date_range(start="2022-04-01", periods=25)

In [ ]:
# Generating next 25 years
pd.date_range(start="2022-04-01", periods=25, freq="A")

In [ ]:
# Generating next 25 business days
pd.date_range(start="2022-04-01", periods=25, freq="B")

In [ ]:
# If you give end then it will generate 25 business days in backward direction
pd.date_range(end="2022-05-13", periods=26, freq="M")

### pandas.Series.dt

Accessor object for datetimelike properties of the Series values.<br>
<strong>Documentation:</strong><br>
<a style="text-decoration:none" href="https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.html">pandas.Series.dt</a> <br>

In [ ]:
dates = pd.date_range(start="2022-04-01", end="2022-05-01", freq="D")
dates

In [ ]:
date_series = pd.Series(dates)
date_series

In [ ]:
date_series.dt.day

In [ ]:
date_series[date_series.dt.is_month_end]

### pandas_datareader to analyse stock data

In [ ]:
lalpathlab = data.DataReader(name= "LALPATHLAB.NS", data_source = "yahoo", start = "2010-01-01", end = "2022-12-31")
lalpathlab.tail(10)

In [ ]:
# To find how many days ended in profit and loss
def loss_profit(row):
    open_price = row[2]
    close_price = row[3]
    if open_price > close_price:
        return "LOSS"
    else:
        return "PROFIT"
lalpathlab['profit_loss'] = lalpathlab.apply(loss_profit, axis=1)
lalpathlab["profit_loss"].value_counts()

In [ ]:
lalpathlab.loc["2016-01-01"]
lalpathlab.loc[pd.Timestamp("2016-01-01")]
lalpathlab.iloc[20]

In [ ]:
lalpathlab.loc[["2016-01-01", "2016-01-06"]]

In [ ]:
# To fecth rows in between 2 dates 
lalpathlab.loc["2022-03-23":"2022-04-3"]
lalpathlab.truncate(before="2022-03-23", after="2022-04-3")

In [ ]:
# To see result on perticular day of the each year
specific_date = pd.date_range(start="1996-05-13", end="2022-05-13", freq=pd.DateOffset(years=1))
lalpathlab[lalpathlab.index.isin(specific_date)]

### Timestamp object attributes and methods

In [ ]:
lalpathlab = data.DataReader(name= "LALPATHLAB.NS", data_source = "yahoo", start = "2010-01-01", end = "2022-12-31")
lalpathlab.tail(10)

In [ ]:
someday = lalpathlab.index[500]
someday

In [ ]:
# Attributes
someday.month, someday.day, someday.week, someday.year, someday.is_month_end

In [ ]:
# Methods
someday.day_name(), someday.month_name(), someday.weekofyear

In [ ]:
# We can apply these methods and attributes on entire index series
lalpathlab.index.day
lalpathlab.index.day_name()

In [ ]:
# Then we can insert it on the data frame
lalpathlab.insert(0, "Day", lalpathlab.index.day_name())
lalpathlab

### pd.DateOffset()

Helps to increase or decrease the date <br>
https://pandas.pydata.org/docs/reference/api/pandas.tseries.offsets.DateOffset.html

In [ ]:
lalpathlab = data.DataReader(name= "LALPATHLAB.NS", data_source = "yahoo", start = "2010-01-01", end = "2022-12-31")
lalpathlab.head(3)

In [ ]:
# We can't perform this kind of operation with date Timestamp object
# lalpathlab.index + 5

In [ ]:
lalpathlab.index + pd.DateOffset(days = 5)
lalpathlab.index + pd.DateOffset(weeks = 5)
lalpathlab.index - pd.DateOffset(months = 1)
lalpathlab.index + pd.DateOffset(years = 1)

In [ ]:
lalpathlab.index + pd.DateOffset(years=1, months=1, weeks=5, days=6, hours=6, minute=45, seconds=45)

### pandas.tseries.offsets

To make dates dynamically round off to certain date

In [ ]:
lalpathlab = data.DataReader(name= "LALPATHLAB.NS", data_source = "yahoo", start = "2010-01-01", end = "2022-12-31")
lalpathlab.head(3)

In [ ]:
lalpathlab.index

In [ ]:
# To make all days to month end
# We have one caveat here that, if already a date indicating month end ex '2015-12-31'
# then it will round to next mount last month '2016-01-31'
lalpathlab.index + pd.tseries.offsets.MonthEnd()

In [ ]:
lalpathlab.index - pd.tseries.offsets.MonthBegin()

In [ ]:
# We have below methods to explore with
print(dir(pd.tseries.offsets))

### pandas.Timedelta()

Represents a duration, the difference between two dates or times.

In [ ]:
time_a = pd.Timestamp(dt.datetime.now())
time_b = pd.Timestamp("2022-05-13 00:00:01")
time_b - time_a

In [ ]:
some_duration = pd.Timedelta(days=3)
time_b + some_duration

In [ ]:
# We can also generate duration by passing data in string format
pd.Timedelta("14 days 5 hours 34 minutes 12 seconds")

In [ ]:
# Real life example
data = pd.read_csv("ecommerce.csv", index_col="ID", parse_dates=["order_date", "delivery_date"])
data.head()

In [ ]:
data["Delivery_Time"] = data["delivery_date"] - data["order_date"]

In [ ]:
data