<center><font size=6 color="#00416d">Working With Text</font></center>

In [ ]:
import pandas as pd

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago.info()

In [ ]:
chicago.nunique()

In [ ]:
chicago["Department"] = chicago["Department"].astype("category")

In [ ]:
chicago.info()

### .lower(), .upper(), .len() , .title() methods

In [ ]:
df = pd.read_csv("chicago.csv")
df.head()

In [ ]:
# You will get below error, if you run below statement
# AttributeError: 'Series' object has no attribute 'lower'
# df["Name"].lower()

In [ ]:
# To convert lower
df["Position Title"].str.lower()

In [ ]:
# To convert upper
df["Position Title"].str.lower().str.upper()

In [ ]:
# To convert as title
df["Position Title"].str.title()

In [ ]:
# To check length of each word
df["Position Title"].str.len()

### The .replace() method

In [ ]:
df = pd.read_csv("chicago.csv").dropna(how="all")

In [ ]:
# how it works in python
"Madhu Babu Kencha".replace("a", "A")

In [ ]:
# In pandas
df["Department"] = df["Department"].str.replace("MGMNT", "MANAGEMENT")

In [ ]:
df["Employee Annual Salary"].str.replace("\$","").astype("float").sum()

### The .contains(), .startswith(), .endswith()

In [ ]:
df = pd.read_csv("chicago.csv").dropna(how="all")
df.head()

In [ ]:
# It will return all the matching rows, if "Position Title" values contains water word in it
df[df["Position Title"].str.lower().str.contains("water")]

In [ ]:
df[df["Position Title"].str.lower().str.startswith("water")]

In [ ]:
df[df["Position Title"].str.lower().str.endswith("taker")]

### The .strip(), .lstrip(), .rstrip()

In [ ]:
df = pd.read_csv("chicago.csv").dropna(how="all")
df.head()

In [ ]:
df["Employee Annual Salary"].str.lstrip("$")

In [ ]:
df["Position Title"].str.rstrip("OFFICER")

In [ ]:
# To remove white space on both side
df["Name"].str.strip("")

### Applying str methods on index and columns

In [ ]:
df = pd.read_csv("chicago.csv").dropna(how="all")
df.set_index("Name", inplace=True)
df.head()

In [ ]:
df.index = df.index.str.strip("")

In [ ]:
df.columns = df.columns.str.replace(" ", "_")

In [ ]:
df

### Split() method

In [ ]:
df = pd.read_csv("chicago.csv")
df.head()

In [ ]:
# This is how split method works in python
"I love coding".split(" ") # Spliting data at the space

In [ ]:
# split in pandas
df['Name'].str.split(",")

In [ ]:
# To get first element of each list and it's count
df['Name'].str.split(",").str.get(0).value_counts()

In [ ]:
# To 5 most common middle name
df['Name'].str.split(",").str.get(1).str.strip().str.split(" ").str.get(0).value_counts().head()

In [ ]:
# The expand argument returns a new data frame
df[["Last Name", "First Name"]] = df['Name'].str.split(",", expand=True)
df.head()

In [ ]:
# n parameter represents number of splits
df["Position Title"].str.split(" ", expand=True, n=1)